<mat-sidenav-container class="example-container mc-container">
  <div class="mc-sidenav">
      <div>
          <div class="profile-card">
              <div class="text-center form-group">
                  <img src="" class="img-circle avatar"/>
              </div>
              <div class="text-center form-group">
                  Company Name
              </div>                
              <div class="mc-menu-list list-group borderlesslist">
                  <label>Promotions</label>
                  <ul class="list-group borderlesslist">
                      <li class="list-group-item"><a>Ongoing</a></li>
                      <li class="list-group-item"><a>Pending</a><span class="badge">32</span></li>
                      <li class="list-group-item"><a>Past</a></li>
                  </ul>
                  <label class="active"> My Account </label>
                  <label > Agreements </label>
              </div>              
          </div>
      </div>
  </div>
  <div class="mc-sidenav-content">
      <div class="mc-right-manage">
          <div class="mc-top-right">
              <div class="bannermerchantdetail" >
                  <div class="itembannermerchantdetail">
                    <label class="mc-label">Merchant group</label>
                    SampleGroup
                  </div>
                  <div class="itembannermerchantdetail">
                    <label class="mc-label">Merchant Name</label>
                    Merchant1
                  </div>
                  <div class="clearboth"></div>
              </div>
          </div>
          <div class="mc-manage-style">
            <!-- start View Merchant -->  
            <ng-container *ngIf="isView">
                <div class="merchantcat merchantsection">
                  <div class="ico">
                    <span class="catico restaurantico"></span>
                    <span class="catico travelico"></span>
                  </div>
                  <label class="mc-label">Merchant category</label>
                  <span>Restaurants, Travel</span>
                </div>
                <div class="distribution merchantsection">                    
                    <label class="mc-label">distribution list</label>
                    <a>sampleDL@sample.com</a>
                  </div>
                <div class="infoopt merchantsection">
                  <h3>option information</h3>
                  <div class="row">
                    <div class=" mc-info-view iteminfo col-md-4 col-sm-6 col-xs-12">
                      <label class="mc-label">Country</label>
                      Singapore
                    </div>
                    <div class="mc-info-view iteminfo col-md-4 col-sm-6 col-xs-12">
                      <label class="mc-label">City</label>
                      Singapore
                    </div>
                  </div>
                  <div class="row">
                    <div class="mc-info-view iteminfo col-md-4 col-sm-6 col-xs-12">
                      <label class="mc-label">Merchant description</label>
                      -
                    </div>
                  </div>
                  <div class="row">
                    <div class="mc-info-view iteminfo col-md-4 col-sm-6 col-xs-12">
                      <label class="mc-label">Address</label>
                      8 Marina<br>
                      Tower 1, Asia Square
                    </div>
                    <div class="mc-info-view iteminfo col-md-4 col-sm-6 col-xs-12">
                      <label class="mc-label">Zip code</label>
                      018960
                    </div>
                  </div>                  
                </div>
                <div class="row mc-box-last"></div>
              </ng-container>
              <!-- end View Merchant -->    
              <!-- start Edit Merchant -->
              <ng-container *ngIf="!isView">
                <div class="merchantcat merchantsection">
                  <label class="mc-label">Merchant category</label>
                  <div class="row list-categories">
                    <div class="col-sm-4 col-item">
                      <div class="item">
                        <span class="pull-right fa-lg"><i class="fa fa-cutlery"></i></span>
                        <div class="mc-checkbox">
                          <mat-checkbox>Restaurant</mat-checkbox>                          
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-4 col-item">
                      <div class="item">
                        <span class="pull-right fa-lg"><i class="fa fa-cutlery"></i></span>
                        <div class="mc-checkbox">
                          <mat-checkbox>Restaurant</mat-checkbox>                          
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-4 col-item">
                      <div class="item">
                        <span class="pull-right fa-lg"><i class="fa fa-cutlery"></i></span>
                        <div class="mc-checkbox">
                          <mat-checkbox>Restaurant</mat-checkbox>                          
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-4 col-item">
                      <div class="item">
                        <span class="pull-right fa-lg"><i class="fa fa-cutlery"></i></span>
                        <div class="mc-checkbox">
                          <mat-checkbox>Restaurant</mat-checkbox>                          
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-4 col-item">
                      <div class="item">
                        <span class="pull-right fa-lg"><i class="fa fa-cutlery"></i></span>
                        <div class="mc-checkbox">
                          <mat-checkbox>Restaurant</mat-checkbox>                          
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="distribution merchantsection">
                    <div class="row">
                        <div class=" iteminfo col-md-4 col-sm-6 col-xs-12">
                          <mat-form-field class="example-full-width">                   
                            <input matInput placeholder="Distribution List" value="sampleDL@sample.com">
                          </mat-form-field>
                        </div>
                    </div>                  
                </div>
                <div class="infoopt merchantsection">
                  <h3>option information</h3>
                  <div class="row">
                    <div class=" iteminfo col-md-4 col-sm-6 col-xs-12">
                      <mat-form-field>
                        <mat-select placeholder="Country">
                          <mat-option>
                            Singapore
                          </mat-option>
                        </mat-select>
                    </mat-form-field>
                  </div>
                    <div class="iteminfo col-md-4 col-sm-6 col-xs-12">
                      <mat-form-field>
                          <mat-select placeholder="Country">
                            <mat-option>
                              Singapore
                            </mat-option>
                          </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="iteminfo col-sm-8 col-xs-12">
                        <mat-form-field class="example-full-width">   
                            <textarea matInput placeholder="Merchant description"></textarea>                        
                        </mat-form-field>
                    </div>
                  </div>
                  <div class="row">                      
                    <div class="iteminfo col-md-4 col-sm-6 col-xs-12">                      
                        <mat-form-field class="example-full-width">   
                      <input matInput placeholder="Address Line 1">
                      </mat-form-field>
                    </div>
                    <div class="iteminfo col-md-4 col-sm-6 col-xs-12">
                        <mat-form-field class="example-full-width">   
                        <input matInput placeholder="Address Line 2">
                        </mat-form-field>
                      </div>
                    <div class="iteminfo col-md-4 col-sm-6 col-xs-12">
                        <mat-form-field class="example-full-width">                  
                      <input matInput placeholder="Zip code">
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </ng-container>
              <!-- end Edit Merchant -->
              <div class="formtool">
                  <button class="circlebtn editbtn btn btn-primary" (click)="changeViewUpdateMerchant()" *ngIf="isView"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                  <a href="javascript:;" *ngIf="!isView" (click)="changeViewUpdateMerchant()">Cancel</a>
                  <button class="circlebtn finishbtn " (click)="updateMerchant()" *ngIf="!isView">
                  </button>
                </div>
          </div>
      </div>
  </div>
</mat-sidenav-container>