<div class="profile" *ngIf="userProfile">
  <div class="bannerprofile">
    <div class="itembannerprofile">
      <label>user id</label>
      {{userProfile.userID}}
    </div>
    <div class="itembannerprofile">
      <label>status</label>
      <span>{{userProfile.status}}</span>
    </div>
    <div class="itembannerprofile">
      <label>entitlement role</label>
      {{userProfile.entitlementRole}}
    </div>
    <div class="actionprofile">
      <a href="javascript:;"(click)="openDialog()" >Change password</a>
    </div>
    <div class="clearboth"></div>
  </div><!-- end bannerprofile -->
  <div class="infoprofile" *ngIf="isProfileViewShow">
    <div class="row">
      <div class="h3 iteminfo col-md-4 col-sm-6 col-xs-12">
        <label>first name</label>
        {{userProfile.firstName}}
      </div>
      <div class="h3 iteminfo col-md-4 col-sm-6 col-xs-12">
        <label>last name</label>
        {{userProfile.lastName}}
      </div>
    </div>
    <div class="row">
      <div class="iteminfo col-md-4 col-sm-6 col-xs-12">
        <label>Designation</label>
        {{userProfile.designation}}
      </div>
    </div>
    <div class="row">
      <div class="iteminfo col-md-4 col-sm-6 col-xs-12">
        <label>email</label>
        <a href="">{{userProfile.email}}</a> 
      </div>
      <div class="iteminfo col-md-4 col-sm-6 col-xs-12">
        <label>Mobile no.</label>
        {{userProfile.mobileNo}}
      </div>
    </div>
  </div><!-- view info profile -->
  
  <div class="infoprofile" *ngIf="!isProfileViewShow">
    <div class="row">
      <div class="itemeditinfo col-md-4 col-sm-6 col-xs-12">
        <label class="text-input-label">first name</label>
        <input type="text" class="form-control" [(ngModel)]="userProfile.firstName">
      </div>
      <div class="itemeditinfo col-md-4 col-sm-6 col-xs-12">
        <label class="text-input-label">last name</label>
        <input type="text" class="form-control" [(ngModel)]="userProfile.lastName">
      </div>
    </div>
    <div class="row">
      <div class="itemeditinfo col-md-4 col-sm-6 col-xs-12">
        <label class="text-input-label">Designation</label>
        <input type="text" class="form-control" [(ngModel)]="userProfile.designation">
      </div>
    </div>
    <div class="row">
      <div class="itemeditinfo col-md-4 col-sm-6 col-xs-12">
        <label class="text-input-label">email</label>
        <input type="text" class="form-control" [(ngModel)]="userProfile.email">
      </div>
      <div class="itemeditinfo col-md-4 col-sm-6 col-xs-12">
        <label class="text-input-label">Mobile no.</label>
        <input type="text" class="form-control" [(ngModel)]="userProfile.mobileNo"> 
      </div>
    </div>
  </div><!-- edit info -->
  <div class="formtool">
    <button class="circlebtn editbtn btn btn-primary" (click)="changeViewUpdateProfile()" *ngIf="isProfileViewShow"><i class="fa fa-pencil" aria-hidden="true"></i></button>
    <a href="javascript:;" *ngIf="!isProfileViewShow" (click)="changeViewUpdateProfile()">Cancel</a>
    <button class="circlebtn finishbtn " (click)="updateProfile()" *ngIf="!isProfileViewShow">
    </button>
  </div>
</div>
