<div class="mc-containter-login">
  <!-- login box -->
  
  <form *ngIf="!(loading | async)" (ngSubmit)="submit()" [formGroup]="form" novalidate>
    <div class="mc-box-login" [ngClass]="{'error-log': error | async}">
        <div class="mc-box-item mc-title">
            <span>{{jsonTitle}}</span>
        </div>
        <div class="mc-box-item mc-user">
            <mat-form-field class="mc-full-width">
                <input matInput placeholder="{{jsonUserName}}" class="text-input" type="text" formControlName="userId">                
                <span class="mc-error" *ngIf="error | async">
                    {{jsonUserName}} "{{form.get('userId').value}}" doesn't exist
                </span>
            </mat-form-field>
            
        </div>
        <div class="mc-box-item mc-password">
            <mat-form-field class="mc-full-width">
                <input matInput placeholder="{{jsonPassword}}" class="text-input" type="password" formControlName="password">
                <span class="mc-error" *ngIf="error | async">
                    Input error message {{jsonPassword}}
                </span>
            </mat-form-field>
        </div>
        <div class="mc-box-item mc-remember">     
            <mat-checkbox class="mc-color-chk"> {{jsonRemember}}</mat-checkbox>
        </div>
        <div class="mc-box-item mc-button">
          <input type="submit" class="btn" [disabled]="form.invalid" value="{{jsonSubmit}}"/>        
        </div>
        <div class="mc-box-item mc-forget">
            <a href="javascript:;" routerLink="/users/forgot-user">Forgot User ID?</a>
            <a href="javascript:;" routerLink="/users/forgot-password">Forgot Password?</a>
        </div>
    </div>
  </form>  
</div>
