<div class="mc-containter-login">
  <!-- forgot user -->
  <form *ngIf="!(loading | async)" (ngSubmit)="submit()" [formGroup]="form" novalidate>
  <div class="mc-box-forgot">
        <div class="mc-box-item mc-title">
            <span><a  routerLink="/users/sign-in"><i class="fa fa-angle-left"></i></a></span>
            <span>Forgot Password</span>
        </div>
        <div class="mc-box-item mc-user" *ngIf="submittedId!=1">
            <mat-form-field class="mc-full-width">
                <input matInput placeholder="Enter your email address" formControlName="emailPw">
                <mat-error *ngIf="form.get('emailPw').invalid">
                    Please enter a valid email address
                </mat-error>
            </mat-form-field>               
        </div>        
        <div class="mc-box-item mc-button" *ngIf="submittedId!=1">
        <input type="submit" class="btn btn-primary" value="Submit"/>
        </div>
        <div class="mc-box-item mc-cancel" *ngIf="!submittedId">
            <a routerLink="/users/sign-in">Cancel</a>
        </div>            
        <div class="mc-box-item" *ngIf="submittedId==1">
            <div class="mc-icon-success">
                <span><i class="fa fa-check"></i></span>
            </div>
            <div class="mc-title-success">
                <span>A link to reset password has been sent to <br/> <b>{{emailPw.value}}</b></span>
            </div>
        </div>
        <div class="mc-box-item mc-back-pw" *ngIf="submittedId==1">
                <a  routerLink="/users/sign-in">Back to Sign On</a>
        </div>
    </div>
    </form>
</div>
