@import '~assets/sass/styles';
.mc-navbar {
    margin-bottom: 0;
    background-color: $color-bg-header;
    border:none;
    letter-spacing: 1.5px;
    .navbar-brand {
        color: #fff;        
        display: table-cell;
        height: 70px;       
        font-size: 19px;
        line-height: 20px;
        span{            
            display: inline-block;
            padding: 0 20px;
            height: 70px;
            img{
                padding-top: 13px; 
            }
        }


    }
    .mc-navbar-header{
        background: url('../../../assets/img/bg_header.png') repeat-x;
        height: 70px;
        width:100%;
        .mc-logo-header{
            float: left;
            .navbar-right {
                float: right;
                li {
                    a {
                        color: #85C2FF;
                        padding: 0 15px;                        
                    }
                    &:last-child{
                        a{
                            padding-right: 2px;
                        }
                    }                
                }
            }           
        }
        .navbar-collapse{
            float: right;
            .navbar-right {                
                li {
                    a {
                        color: #FFF;                        
                        height: 70px;
                        display: table-cell;
                        line-height: 70px;
                    }                    
                    &:last-child{
                        a{
                            padding-right: 20px;
                        }
                    }                
                }
            }
        }
    }
    .mc-navbar-header-top{
        background: #333333;
        height: 25px;
        width:100%;
        .navbar-right {
            float: right;
            li {
                float: left;
                a {
                    color: #FFF;
                    padding: 0 30px;
                    display: table-cell;
                    height: 25px;
                    vertical-align: middle;  
                    font-size: 13px;         
                }
                &:last-child{
                    a{
                        padding-right: 30px;
                    }
                }            
            }
        }
    }
}