<div class="mc-containter-login">
    <!-- forgot user -->
    <form>
        <div class="mc-box-forgot">
            <div class="mc-box-item mc-title">
                <span><a href="javascript:;" routerLink="/users/sign-in"><i class="fa fa-angle-left"></i></a></span>
                <span>Forgot User ID</span>
            </div>
            <ng-container  *ngIf="!submitted">
                <div class="mc-box-item mc-user">
                    <mat-form-field class="mc-full-width">
                        <input matInput placeholder="Enter your email address" [formControl]="email" required>
                        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                    </mat-form-field>
                    
                </div>
                <div class="mc-box-item mc-button">
                <input type="button" (click)="submit()" class="btn btn-primary" [disabled]="email.invalid" value="Submit"/>
                </div>
                <div class="mc-box-item mc-cancel">
                    <a href="javascript:;" routerLink="/users/sign-in">Cancel</a>
                </div>
            </ng-container>
            <ng-container  *ngIf="submitted">  
                <div class="mc-box-item">
                    <div class="mc-icon-success">
                        <span><i class="fa fa-check"></i></span>
                    </div>
                    <div class="mc-title-success">
                        <span>Your user ID has been sent to <br/> <b>"{{email.value}}"</b></span>
                    </div>
                </div>
                <div class="mc-box-item mc-back-pw">
                    <a href="javascript:;" routerLink="/users/sign-in">Back to Sign On</a>
                </div>
            </ng-container>
        </div>
    </form>
</div>
