<mat-sidenav-container class="example-container mc-container">
  <div class="mc-sidenav">
      <div>
          <div class="profile-card">
              <div class="text-center form-group">
                  <img src="" class="img-circle avatar"/>
              </div>
              <div class="text-center form-group">
                  Company Name
              </div>                
              <div class="mc-menu-list list-group borderlesslist">
                  <label>Promotions</label>
                  <ul class="list-group borderlesslist">
                      <li class="list-group-item"><a>Ongoing</a></li>
                      <li class="list-group-item"><a>Pending</a><span class="badge">32</span></li>
                      <li class="list-group-item"><a>Past</a></li>
                  </ul>
                  <label class="active"> My Account </label>
                  <label > Agreements </label>
              </div>              
          </div>
      </div>
  </div>
  <div class="mc-sidenav-content">
      <div class="mc-right-manage">          
          <div class="store-container">
                <div class="mc-search">
                        <input type="text" class="form-control" placeholder="Search merchant"/>
                        <i class="fa fa-search"></i>
                </div>
            <table class="table no-bordered mc-table">
              <caption>
                  <p>5 Merchants</p>
                  <div class="mc-sort-by">
                      <mat-form-field>
                        <mat-select placeholder="Sort by">
                          <mat-option>None</mat-option>
                          <mat-option value="option1">Option 1</mat-option>
                          <mat-option value="option2">Option 2</mat-option>
                          <mat-option value="option3">Option 3</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                </caption>
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Merchant</th>
                  <th>Merchant Category</th>
                  <th>Distribution List</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <div class="td">
                      <span>
                        00409
                      </span>
                    </div>
                  </td>
                  <td class="second-child">
                    <div class="td">
                      <span>
                            Merchant 1
                      </span>
                    </div>
                  </td>
                  <td class="three-child">
                    <div class="td">
                      <span>
                            Merchant Category 1, Merchant Category 2, Merchant Category 3
                      </span>
                    </div>
                  </td>
                  <td class="four-child">
                    <div class="td">
                      <span>
                        AAAA
                      </span>
                    </div>
                  </td>
                  <td>
                    <div class="td group-action">
                      <a routerLink="/users/detail-merchant"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                      <a><i class="fa fa-trash" aria-hidden="true"></i></a>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="text-right control">
              <a class="btn btn-primary" routerLink="/users/store-detail">Invite New User</a>
            </div>
          </div>
      </div>
    </div>
</mat-sidenav-container>