.mc-sidenav {
    width: 244px;
    box-shadow: 0px 0px 12px rgba(0,0,0,0.2);
    .profile-card {
        padding: 50px 20px 74px 20px;
        text-align: center;
        .avatar {
            height: 100px;
            width: 100px;
        }
        .name {
            margin-bottom: 40px;
        }
    }
    .borderlesslist {
        .menu-group-item {
            padding-top: 0;
            padding-bottom: 0;
            label {
                color: #535353;
                font-weight: 500;
                font-size: 18px;
            }
            &.active {
                border-left: 5px solid #056bae;
                background-color: #FFFFFF;
            }

        }
        .list-group-item {
            border: none;
            border-radius: 0;
            a {
                margin-right: 5px;
                font-size: 15px;
                &.active {
                    color: #535353;
                }
            }
            .badge {
                background: #d60100;
                border-radius: 50%;
                width: 20px;
                height: 20px;
                padding: 4px 3px;
                float: none;
            }
        }
    }
}
.mc-sidenav-content {
    background: #FFFFFF;
    min-height: 600px;
    .nav-justified {
        border-bottom: 1px solid #bbb;
        height: 80px;
        li {
            &:last-child a span {
                border-right: none;
            }
            a {
                border-radius: 0;
                text-transform: uppercase;
                letter-spacing: 2px;
                line-height: 40px;
                padding: 18px 0;
                span {
                    border-right: 1px solid #888888;
                    display: block;
                }
                &.active, &:hover, &:focus {
                    border-bottom: 5px solid #056bae;
                    color: #414141;
                    background-color: #FFFFFF;
                }
            }
        }
    }
}
