<mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav [mode]="mode.value" [disableClose]="true" [opened]="true" class="mc-sidenav">
        <div>
            <div class="profile-card">
                <div class="text-center form-group">
                    <img src="" class="img-circle avatar"/>
                </div>
                <div class="text-center form-group">
                    Company Name
                </div>                
                <div class="list-group borderlesslist">
                    <label>Promotions</label>
                    <ul class="list-group borderlesslist">
                        <li class="list-group-item"><a>Ongoing</a></li>
                        <li class="list-group-item"><a>Pending</a><span class="badge">32</span></li>
                        <li class="list-group-item"><a>Past</a></li>
                    </ul>
                </div>
                <label> My Account </label>
            </div>
          </div>
        </mat-sidenav>
    <mat-sidenav-content class="mc-sidenav-content">
        <div class="mc-right-manage">
            <div class="mc-top-right">
                <div class="mc-search">
                    <input type="text" class="form-control" placeholder="Search merchant"/>
                    <i class="fa fa-search"></i>
                </div>
                <div class="mc-title">
                    <div class="mc-left-title">
                        <span>5 merchant</span>
                    </div>
                    <div class="mc-right-title">
                        <span>Sort by </span>
                        <span><i class="fa fa-angle-down"></i></span>
                    </div>
                </div>
                <div class="mc-header-table">
                    <div class="mc-item mc-id"><span>ID</span></div>
                    <div class="mc-item mc-merchant"><span>Merchant</span></div>
                    <div class="mc-item mc-merchant-cate"><span>Merchant Category</span></div>
                    <div class="mc-item mc-distribution"><span>Distribution List</span></div>
                    <div class="mc-item mc-action"><span></span></div>
                </div>
            </div>
            <div class="mc-manage-style">
                <div class="mc-body-table">
                    <div class="mc-item mc-id"><span>0049</span></div>
                    <div class="mc-item mc-merchant"><span>Merchant 1</span></div>
                    <div class="mc-item mc-merchant-cate"><span>Merchant Category1,Merchant Category 2</span></div>
                    <div class="mc-item mc-distribution"><span>Distribution List</span></div>
                    <div class="mc-item mc-action-1">
                        <span><a href="">View Users</a></span>                        
                    </div>
                    <div class="mc-item mc-action-2">                            
                            <span><i class="fa fa-pencil"></i></span>
                    </div>
                </div>
                <div class="mc-body-table">
                    <div class="mc-item mc-id"><span>ID</span></div>
                    <div class="mc-item mc-merchant"><span>Merchant</span></div>
                    <div class="mc-item mc-merchant-cate"><span>Merchant Category</span></div>
                    <div class="mc-item mc-distribution"><span>Distribution List</span></div>
                    <div class="mc-item mc-action"><span><a>View Users</a></span><span></span></div>
                </div>
                <div class="mc-body-table">
                        <div class="mc-item mc-id"><span>ID</span></div>
                        <div class="mc-item mc-merchant"><span>Merchant</span></div>
                        <div class="mc-item mc-merchant-cate"><span>Merchant Category</span></div>
                        <div class="mc-item mc-distribution"><span>Distribution List</span></div>
                        <div class="mc-item mc-action"><span><a>View Users</a></span><span></span></div>
                    </div>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>