<div class="mc-left-manage">

</div>
<div class="mc-right-manage">
    <div class="mc-top-right">
        <div class="mc-search">

        </div>
        <div class="mc-title">

        </div>
        <div class="mc-header-table">
            <div class="mc-item mc-id"><span>ID</span></div>
            <div class="mc-item mc-merchant"><span>Merchant</span></div>
            <div class="mc-item mc-merchant-cate"><span>Merchant Category</span></div>
            <div class="mc-item mc-distribution"><span>Distribution List</span></div>
        </div>
    </div>
    <div class="mc-manage-style">
            <div class="mc-body-table">
                <div><span>ID</span></div>
                <div><span>Merchant</span></div>
                <div><span>Merchant Category</span></div>
                <div><span>Distribution List</span></div>
            </div>
    </div>
    
</div>