<div class="store-container">
  <table class="table no-bordered mc-table">
    <caption>{{stores.length}} stores</caption>
    <thead>
      <tr>
        <th>Store name</th>
        <th>Country</th>
        <th>City</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let store of stores">
        <td>
          <div class="td">
            <span>
              {{store.storeName}}
            </span>
          </div>
        </td>
        <td><div class="td">
            <span>
              {{store.country}}
            </span></div></td>
        <td>
          <div class="td">
            <span>
              {{store.city}}
            </span>
          </div></td>
      </tr>
    </tbody>
  </table>
</div>
