.store-container {
    background-color: #f8f8f8;
    .mc-table {
        width: 100%;
        background-color: #f8f8f8;
        caption {
            background: #ffffff;
            padding: 20px 50px;
        }
        thead {
            background-color: #fff;
            th {
                padding: 10px 0;
                font-weight: 600;
            &:first-child {
                    padding-left: 50px;
                }
                &:last-child {
                    padding-right: 30px;
                }
            }
        }
        td {
            padding: 10px 0;
            border: none;
            .td {
                margin: 10px 0;
                padding: 34px 10px;
                background-color: #fff;
                border-top: 1px solid #ddd;
                border-bottom: 1px solid #ddd;
                span {
                    padding: 12px 15px;
                    border-left: 1px solid #ddd;
                }
            }
            &:first-child {
                .td {
                    margin-left: 30px;
                    border-top-left-radius: 5px;
                    border-bottom-left-radius: 5px;
                    border-left: 1px solid #ddd;
                    span {
                        border: none;
                    }
                }
            }
            &:last-child {
                .td {
                    margin-right: 30px;
                    border-top-right-radius: 5px;
                    border-bottom-right-radius: 5px;
                    border-right: 1px solid #ddd;
                }
            }
        }
    }
}
