<div class="mc-containter-login">
  <!-- forgot user -->
  <form *ngIf="!(loading | async)" (ngSubmit)="submit()" [formGroup]="form" novalidate>
      <!--Reset-->
      <div class="mc-box-reset">
        <div class="mc-box-item mc-title">
            <span><a routerLink="/users/sign-in"><i class="fa fa-angle-left"></i></a></span>
            <span>Reset Password</span>
        </div>
        <div class="mc-box-item mc-password-new">
            <mat-form-field class="mc-full-width">
                <input matInput placeholder="Set you new password" type="password" [formControl]="passwordnew">
                <mat-error *ngIf="form.get('passwordnew').invalid">
                    Password is <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="mc-box-item mc-password">
            <mat-form-field class="mc-full-width">
                <input matInput placeholder="Confirm password" type="password" [formControl]="passwordconfirm">
                <mat-error *ngIf="form.get('passwordconfirm').invalid">
                    Password is <strong>required</strong>
                </mat-error>
            </mat-form-field>            
        </div>
        <div class="mc-box-item mc-button">
            <input type="submit"  class="btn btn-primary" value="Submit"/>
        </div>
        <div class="mc-box-item mc-cancel">
            <a routerLink="/users/sign-in">Cancel</a>
        </div>        
    </div>
  </form>
</div>
