<div class="mc-containter-register">
        <div class="mc-box-left-register">
            <div class="mc-description">
                <h3>Good moning, [user's name] from merchant name</h3>
                <h1>Welcome to Company Merchant Portal</h1>
            </div>
        </div>    
        <div class="mc-box-register">
            <div class="mc-box-item mc-title">
                <span>Sign On</span>
            </div>
            <div class="mc-box-item mc-user">
                <label>User ID</label>
                <input type="text" class="form-control" value="" placeholder="SampleID"/>
            </div>
            <div class="mc-box-item mc-password">                
                <input type="password" class="form-control" placeholder="Set Password"/>
            </div>
            <div class="mc-box-item mc-password">                
                    <input type="password" class="form-control" placeholder="Confirm Password"/>
            </div>
            <div class="mc-box-item mc-agree">
                    <label class="chk">
                        <input type="checkbox" class="chkctrl">
                        <i class="icon"></i>
                        <span>I agree to the <a href="">Terms &amp; Conditions</a></span>
                    </label>
                </div>
            <div class="mc-box-item mc-button">
               <input type="button" class="btn btn-dark" value="Register"/>
            </div>            
        </div>
    </div>