<div class="storeinfo">
  <div class="bannerstoreinfo" *ngIf="!isCreate">
      <label>{{store.city}}</label>
      <span class="glyphicon glyphicon-menu-left" routerLink="/users/my-account/stores"></span>{{store.storeName}}
  </div><!-- end bannerprofile -->
  <div class="banneraddstoreinfo" *ngIf="isCreate">
      Add New Store
  </div>

  <div class="contentstoreinfo">
    <div class="row storeinfotab">
      <div class="col-md-offset-4 col-md-4">
        <div class="btn-group btn-group-justified btn-group-lg" role="group">
          <div class="btn-group" role="group">
            <button type="button" class="btn" (click)="showStoreDetail = true" [class.active]="showStoreDetail">Store Details</button>
          </div>
          <div class="btn-group" role="group">
            <button type="button" class="btn" (click)="showStoreDetail = false" [class.active]="!showStoreDetail">Language Variants</button>
          </div>
        </div>
      </div>
    </div>
    <div class="storedetail">
      <div class="row">
        <mat-form-field class="col-xs-12">
          <input matInput placeholder="Store Name" [(ngModel)]="store.storeName">
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="col-sm-6">
          <mat-select placeholder="Country" [(ngModel)]="store.country">
            <mat-option *ngFor="let country of listCountry" [value]="country.countryName">
              {{ country.countryName }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="col-sm-6">
          <mat-select placeholder="City" [(ngModel)]="store.country">
            <mat-option *ngFor="let city of listCity" [value]="city">
              {{ city }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="col-sm-12">
          <input matInput placeholder="Area" [(ngModel)]="store.area">
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="col-sm-6">
          <input matInput placeholder="Address Line 1" [(ngModel)]="store.addrressLine1">
        </mat-form-field>
        <mat-form-field class="col-sm-6">
          <input matInput placeholder="Address Line 2" [(ngModel)]="store.addrressLine2">
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="col-sm-4">
          <input matInput placeholder="Zip code" [(ngModel)]="store.zipCode">
        </mat-form-field>
      </div>
      <h3>option information</h3>
      <div class="row">
        <mat-form-field class="col-sm-2">
          <input matInput placeholder="Country Code" [(ngModel)]="store.countryCode">
        </mat-form-field>
        <mat-form-field class="col-sm-3 fix-margin">
          <input matInput placeholder="Area Code" [(ngModel)]="store.areaCode">
        </mat-form-field>
        <mat-form-field class="col-sm-7">
          <input matInput placeholder="Merchant Contact No." [(ngModel)]="store.contactNo">
        </mat-form-field>
      </div>
    </div>

  </div>
  <!-- contentstoreinfo -->
  
  <div class="storeinfofoot">
      <a routerLink="/users/my-account/stores" >Cancel</a>
      <button class="finishbtn btn btn-lg" *ngIf="!isCreate">
        Update
      </button>
      <button class="finishbtn btn btn-lg" *ngIf="isCreate">
        Done
      </button>
  </div>
  <!-- storeinfofoot -->

</div>