<div class="mc-containter-login">
    <div class="mc-box-login">
        <div class="mc-box-item mc-title">
            <span><i class="fa fa-angle-left"></i></span>
            <span>Forgot Password</span>
        </div>
        <div class="mc-box-item mc-user">
            <label>User ID</label>
            <input type="text" class="form-control" value="" placeholder="SampleID"/>
        </div>        
        <div class="mc-box-item mc-button">
           <input type="button" class="btn btn-primary" value="Submit"/>
        </div>
        <div class="mc-box-item mc-cancel">
            <a href="/">Cancel</a>
        </div>
    </div>
</div>
<router-outlet></router-outlet>