.mc-containter-login{    
    text-align: center;
    background: url(../../../assets/img/hotair_balloons_sky.jpg);
    background-size: 100% 100%;
    height:100vh;
    .mc-box-login{
        margin-top: 100px;
        background: #FFF;
        width: 350px;
        height: 470px;
        display: inline-block;
        text-align: center;       
        border-radius: 1px;
        .mc-box-item{
            display: inline-block;
            width: 300px;            
            padding: 10px 0;
            &.mc-title{
                span{                    
                    float: left;
                    color: #000;
                    font-size: 20px;
                    &:first-child{
                        width: 100%;
                        float: left;
                        text-align: left;
                        margin-bottom: 5px;
                    }
                }
            }
            &.mc-user{
                label{                    
                    float: left;
                    color: #333;   
                    font-size: 16px;
                    width: 100%;
                    text-align: left;
                    margin-top: 40px;
                }
                input{
                    background: #eee;
                    height: 50px;
                    width: 100%;                    
                    float: left;
                    border-color: #fff;
                    box-shadow: none;
                    &:focus{
                        box-shadow: none;
                        border-color: #056DAE;
                    }                    
                }
            }
            &.mc-button{                
                input{                    
                    height: 50px;
                    width: 100%;
                    float: left;
                    font-weight: bold;
                    margin-top: 20px;
                }
            }
            &.mc-cancel{
                a{
                    width: 100%;
                    text-align: center;
                    margin-bottom: 5px;
                    float: left;
                    text-decoration: underline;
                    color: #337ab7;
                    margin-top: 115px;
                }
                
            }
            &.mc-back{
                a{
                    width: 100%;
                    text-align: center;
                    margin-bottom: 5px;
                    float: left;
                    text-decoration: underline;
                    color: #337ab7;
                    margin-top: 155px;
                }                
            }
            .mc-icon-success{
                width: 100%;
                text-align: center;
                margin-top: 30px;
                span{
                    display: inline-block;
                    height: 80px;
                    width: 80px;
                    border: 1px solid #337ab7;
                    border-radius: 50%;
                    i{
                        height: 80px;
                        width: 80px;
                        display: table-cell;
                        color: #337ab7;
                        vertical-align: middle;
                        font-size: 30px;

                    }
                }
            }
            .mc-title-success{
                margin-top: 10px;
            }
            .mc-error{
                text-align: left;
                color: red;
                float: left;
                font-size: 13px;
            }
        }
    }
}


