<div class="mc-containter-login">
    <div class="mc-box-login">
        <form>
            <div class="mc-box-item mc-title">
                <span><a routerLink="/login"><i class="fa fa-angle-left"></i></a></span>
                <span>Forgot User ID</span>
            </div>
            <div class="mc-box-item mc-user" *ngIf="!submitted">
                <label [ngStyle]="{'opacity':(isFocusUser)?'1':'0'}">User ID</label>
                <input type="text" name="userid" id="userid" class="form-control" [(ngModel)]="userid" (focus)="isFocusUser=true" (blur)="isFocusUser=false" value="" placeholder="Enter your email address" [ngStyle]="{'border-color':error!=''?'red':'#056DAE'}"/>
                <span *ngIf="!submitted" class="mc-error">{{error}}</span>                
            </div>        
            <div class="mc-box-item mc-button" *ngIf="!submitted">
            <input type="button" class="btn btn-primary" (click)="Submit()" value="Submit"/>
            </div>
            <div class="mc-box-item mc-cancel" *ngIf="!submitted">
                <a routerLink="/login">Cancel</a>
            </div>            
            <div class="mc-box-item" *ngIf="submitted">
                <div class="mc-icon-success">
                    <span><i class="fa fa-check"></i></span>
                </div>
                <div class="mc-title-success">
                    <span>Your user ID has been sent to <br/> <b>{{userid}}</b></span>
                </div>
            </div>
            <div class="mc-box-item mc-back" *ngIf="submitted">
                    <a routerLink="/login">Back to Sign On</a>
                </div>
        </form>
    </div>
</div>