
<div class="mc-containter-login">
    <div class="mc-box-login">
        <div class="mc-box-item mc-title">
            <span>Sign On</span>
        </div>
        <div class="mc-box-item mc-user">
            <label>User ID</label>
            <input type="text" class="form-control" value="" placeholder="SampleID"/>
        </div>
        <div class="mc-box-item mc-password">
                <label [ngStyle]="{'opacity':(isFocusPasword)?'1':'0'}">Password</label>
                <input type="password" class="form-control" (focus)="isFocusPasword=true" (blur)="isFocusPasword=false" placeholder="Password">
        </div>
        <div class="mc-box-item mc-remember">
            <label class="chk">
                <input type="checkbox" class="chkctrl">
                <i class="icon"></i>
                <span>Remember my User ID</span>
            </label>
        </div>
        <div class="mc-box-item mc-button">
           <input type="button" class="btn btn-primary" value="Sign On"/>
        </div>
        <div class="mc-box-item mc-forget">
            <a routerLink="/forgot-user">Forgot User ID?</a>
            <a routerLink="/forgot-password">Forgot Password?</a>
        </div>
    </div>
</div>