<div class="mc-containter-login">
    <div class="mc-box-login">
        <div class="mc-box-item mc-title">
            <span><a routerLink="/login"><i class="fa fa-angle-left"></i></a></span>
            <span>Reset Password</span>
        </div>
        <div class="mc-box-item mc-password">
            <label [ngStyle]="{'opacity':(isFocusNewPassword || errorpassword=='')?'1':'0'}">Set your new password</label>
            <input type="password" name="password" id="password" class="form-control" [(ngModel)]="password" (focus)="isFocusNewPassword=true;CheckInfo('password')" (blur)="isFocusNewPassword=false;CheckInfo('password')" (keyup)="CheckInfo('password')" value="" placeholder="Set your new password" [ngStyle]="{'border-color':errorpassword!=''?'red':''}"/>
            <span *ngIf="!submitted" class="mc-error">{{errorpassword}}</span>                
        </div>
        <div class="mc-box-item mc-password">
                <label [ngStyle]="{'opacity':(isFocusConfirm || errorconfirm=='')?'1':'0'}">Confirm password</label>
                <input type="text" name="confirmpassword" id="confirmpassword" class="form-control" [(ngModel)]="confirmpassword" (focus)="isFocusConfirm=true;CheckInfo('confirm')" (blur)="isFocusConfirm=false;CheckInfo('confirm')" (keyup)="CheckInfo('confirm')" value="" placeholder="Confirm password" [ngStyle]="{'border-color':errorconfirm!=''?'red':''}"/>
                <span *ngIf="!submitted" class="mc-error">{{errorconfirm}}</span>              
            </div>         
        <div class="mc-box-item mc-button">
            <input type="button" [ngStyle]="{'background-color':isInfo?'#337ab7':'#545b62','border-color':isInfo?'#337ab7':'#545b62'}" class="btn btn-primary" (click)="Submit()" value="Submit"/>
        </div>
        <div class="mc-box-item mc-cancel">
            <a routerLink="/login">Cancel</a>
        </div>        
    </div>
</div>
<router-outlet></router-outlet>