.clearboth{
    clear: both;
}
@mixin fixlabel{
    text-transform: uppercase;
    color:#888;
    font-size: 13px;
    font-weight: bold;
    display: block;
    letter-spacing: 2px;
    padding-bottom: 15px;
}
.merchantdetail{
    background-color: #f8f8f8;
    .bannermerchantdetail{
        background-color: #002a54;
        padding: 45px;     
        .itembannermerchantdetail{
            font-size: 28px;
            color: #fff;
            float: left;
            border-left: 1px solid #888;
            padding: 8px 90px;
            &:first-child{
                border-left: none;  
            }
            label{
                @include fixlabel;
            }
        }
    }
    .merchantsection{
        background-color: #fff;
        border: 1px solid #f0f0f0;       
        color: #333;
        label{
            @include fixlabel; 
        }
    }
    .merchantcat{
        margin: 45px; 
        margin-bottom: 0;      
        padding: 45px;
        span.catico{
            float: right;
        }
    }
    .infoopt{
        margin: 45px;
        margin-top: 5px;
        padding: 0 45px;
        h3{
            color: #a4a4a4;
            font-size: 13px;
            text-transform: uppercase;
            padding: 15px 0;
            border-bottom: 1px solid #c7c7c7;
            margin-bottom: 45px;
            font-weight: bold;
        }
        .iteminfo{
            margin-bottom: 30px;
        }
        .itemeditinfo{
            margin-bottom: 30px;
            .text-input-label{
                font-size: 13px;
                &::first-letter{
                    text-transform: uppercase;
                }
            }
            input[type="text"]{
                background-color: #eee;
            }
        }
    }
}