*{
    font-family: Arial, Helvetica, sans-serif;
}
.clearboth{
    clear: both;
}
@mixin fixlabel{
    text-transform: uppercase;
    color:#888;
    font-size: 13px;
    font-weight: bold;
    display: block;
    letter-spacing: 2px;
    padding-bottom: 15px;
}
.merchantdetail{
    background-color: #f8f8f8;
    .bannermerchantdetail{
        background-color: #002a54;
        padding: 45px;     
        .itembannermerchantdetail{
            font-size: 28px;
            color: #fff;
            float: left;
            border-left: 1px solid #888;
            padding: 8px 90px;
            &:first-child{
                border-left: none;  
            }
            label{
                @include fixlabel;
            }
        }
    }
    .infoprofile{
        margin: 45px;
        background-color: #fff;
        border: 1px solid #f0f0f0;
        padding: 45px;
        color: #333;
        .iteminfo{
            margin-bottom: 30px;
            .h3{
                    font-size: 25px;
                }
            label{
                @include fixlabel; 
            }
        }
        .itemeditinfo{
            margin-bottom: 30px;
            .text-input-label{
                font-size: 13px;
                &::first-letter{
                    text-transform: uppercase;
                }
            }
            input[type="text"]{
                background-color: #eee;
            }
        }
    }
}