<div class="merchantdetail">
  <div class="bannermerchantdetail" >
    <div class="itembannermerchantdetail">
      <label>Merchant group</label>
      SampleGroup
    </div>
    <div class="itembannermerchantdetail">
      <label>Merchant Name</label>
      Merchant1
    </div>
    <div class="clearboth"></div>
  </div><!-- end bannerprofile -->
  <div class="merchantcat merchantsection" *ngIf="true">
    <label>Merchant category</label>
    <span>Restaurants, Travel</span>
    <span class="catico">
      <mat-icon>plan</mat-icon>
      <mat-icon>plan</mat-icon>
    </span>
  </div>
  <div class="infoopt merchantsection" *ngIf="true">
    <h3>option information</h3>
    <div class="row">
      <div class="iteminfo col-md-4 col-sm-6 col-xs-12">
        <label>Country</label>
        Singapore
      </div>
      <div class="iteminfo col-md-4 col-sm-6 col-xs-12">
        <label>City</label>
        Singapore
      </div>
    </div>
    <div class="row">
      <div class="iteminfo col-md-4 col-sm-6 col-xs-12">
        <label>Merchant description</label>
        -
      </div>
    </div>
    <div class="row">
      <div class="iteminfo col-md-4 col-sm-6 col-xs-12">
        <label>Address</label>
        8 Marina View<br>
        Tower 1, Asia Square, Level 1
      </div>
      <div class="iteminfo col-md-4 col-sm-6 col-xs-12">
        <label>Zip code</label>
        018960
      </div>
    </div>
  </div>
</div>
