
.toolmodal{
    overflow: auto;
    button.mat-icon-button{
        float: right;
        width: 20px;
        height: 20px;
        overflow: hidden;
        .mat-icon{
            width: 20px;
            height: 20px;
            font-size: 20px;
            color: #666;
            font-weight: bold;
            vertical-align: top;
        }
    }
}
button.btn.btn-primary{
    width: 100%;
    margin-top: 30px;
    height: 55px;
    background-color: #337ab7;
    color:#fff;
    border-radius: 6px;
    &:hover{
        background-color: #286090;
    }
}