<div class="toolmodal">
  <button>
    <mat-icon>close</mat-icon>
  </button>
</div>
<h3 class="modalheader">
  Change Password
</h3>
<div class="modalcontent">
  <div class="row">
    <div class="form-group col-xs-12">
      <label>Enter your current password</label>
      <input type="password" class="form-control" value="SampleName">
    </div>
  </div>
  <div class="row">
    <div class="form-group col-xs-12">
      <label> Set your new password</label>
      <input type="password" class="form-control" value="SampleName">
    </div>
  </div>
  <div class="row">
    <div class="form-group col-xs-12">
      <label>Confirm password</label>
      <input type="password" class="form-control" value="SampleName">
    </div>
  </div>
  <div class="row">
    <div class="form-group col-xs-12">
      <button type="button" class="btn btn-primary">Change</button>
    </div>
  </div>
</div>