<div class="toolmodal">
  <button (click)="onCloseCancel()">
    <mat-icon>close</mat-icon>
  </button>
</div>
<h3 class="modalheader">
  Change Password
</h3>
<div class="modalcontent">
  <form (ngSubmit)="onChangePass(formChangePass)" #formChangePass="ngForm">
    <div class="row">
      <div class="form-group col-xs-12 input-group-lg">
        <label>Enter your current password</label>
        <input type="password" name="currentPassword" ngModel #txtcurrentPassword="ngModel" class="form-control" placeholder="SampleName" required >
        <p *ngIf = "txtcurrentPassword.touched && txtcurrentPassword.errors?.required">Current password is required</p>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-xs-12 input-group-lg">
        <label> Set your new password</label>
        <input type="password" name="newPassword" ngModel #newPassword="ngModel" class="form-control" placeholder="SampleName" required>
        <p *ngIf = "newPassword.touched && newPassword.errors?.required">New password is required</p>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-xs-12 input-group-lg">
        <label>Confirm password</label>
        <input [class.inputerr]="confirmPassword.dirty && !confirmPassword.errors?.required && confirmPassword.value != newPassword.value" type="password" name="confirmPassword" ngModel #confirmPassword="ngModel" class="form-control" placeholder="SampleName" required>
        <p *ngIf = "confirmPassword.touched && confirmPassword.errors?.required">Confirm password is required</p>
        <p *ngIf = "confirmPassword.dirty && !confirmPassword.errors?.required && confirmPassword.value != newPassword.value">Confirm password does not match new password</p>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-xs-12">
        <button class="btn btn-primary btn-lg">Change</button>
      </div>
    </div>
  </form>
  
</div>