<div class="invitemerchant">
  <div class="invitemerchant-header">
    <div class="invitemerchant-container">
      <h3>Select Merchants</h3>
      <div class="row">
        <mat-form-field class="col-md-7">
          <input type="text" placeholder="Merchant Name" (keyup)="searchMerchantName(searchFrmControl, $event)" matInput [formControl]="searchFrmControl" [matAutocomplete]="autocompalete">
          <mat-icon matSuffix class="fa fa-search" (click)="searchMerchantName(searchFrmControl, $event)"></mat-icon>
          <mat-autocomplete autoActiveFirstOption #autocompalete="matAutocomplete">
            <mat-option *ngFor="let merchantNameItem of merchantNameList" [value]="merchantNameItem.merchantName">
              <ng-container *ngFor="let item of merchantNameItem.merchantNameChange; let isLast = last">{{item}}<b *ngIf="!isLast">{{searchFrmControl.value}}</b></ng-container>
              <mat-icon>add</mat-icon>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div class="row">
        <div class="resultsearchinvite" *ngIf="merchantFinded.length">
          <label class="mc-label">{{merchantFinded.length}} results found for "{{searchFrmControl.value}}"</label>
          <div class="listresult">
            <div class="row">
              <div class="col-md-4 col-sm-2" *ngFor="let item of merchantFinded">
                <div class="itemresult">
                  <a href="javascript:;" (click)="selectMerchant(item)">{{item.merchantName}}</a>
                </div>
              </div>
            </div>
          </div>
        </div>  
      </div>
    </div>
  </div><!-- invitemerchant-header -->
  <div class="invitemerchant-content invitemerchant-container">
    <p class="disabled" *ngIf="!(merchantSelected && merchantSelected.merchantName)">No merchants selected</p>
    <div class="addusertbl" *ngIf="merchantSelected && merchantSelected.merchantName">
      <p>Add users you want to invite to <strong>{{merchantSelected.merchantName}}</strong></p>
      <table>
        <thead>
          <tr>
            <th style="width:19%">First Name</th>
            <th style="width:19%">Last Name</th>
            <th style="width:38%">Email</th>
            <th style="width:19%">Mobile No.</th>
            <th style="width:5%"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of merchantSelected.userInvite;">
            <td>
              <mat-form-field>
                <input type="text" matInput [(ngModel)]="user.firstName">
              </mat-form-field>
            </td>
            <td>
              <mat-form-field>
                  <input type="text" matInput [(ngModel)]="user.lastName">
              </mat-form-field>
            </td>
            <td>
              <mat-form-field>
                <input type="text" matInput [(ngModel)]="user.email">
              </mat-form-field>
            </td>
            <td>
              <mat-form-field>
                <input type="text" matInput [(ngModel)]="user.mobileNo">
              </mat-form-field>
            </td>
            <td>
              <button mat-icon-button (click)="removeUser(user)">
                <mat-icon class="remove">add_circle</mat-icon>
              </button>
            </td>
          </tr>
          <tr>
              <td>
                <mat-form-field>
                  <input type="text" matInput [(ngModel)]="userInviting.firstName">
                </mat-form-field>
              </td>
              <td>
                <mat-form-field>
                    <input type="text" matInput [(ngModel)]="userInviting.lastName">
                </mat-form-field>
              </td>
              <td>
                <mat-form-field>
                  <input type="text" matInput [(ngModel)]="userInviting.email">
                </mat-form-field>
              </td>
              <td>
                <mat-form-field>
                  <input type="text" matInput [(ngModel)]="userInviting.mobileNo">
                </mat-form-field>
              </td>
              <td>
                <button mat-icon-button (click)="addUser()">
                  <mat-icon class="add">add</mat-icon>
                </button>
              </td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="storeinfofoot fix-footer">
    <a routerLink="/account/stores" >Cancel</a>
    <button class="finishbtn btn btn-lg" [class.disabled]=" !merchantSelected || !merchantSelected.userInvite || merchantSelected.userInvite.length==0" >
      Send invite
    </button>
  </div>
  <!-- storeinfofoot -->
</div>
