$fa-font-path: "~font-awesome/fonts";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import 'colors';

/* =Reset default browser CSS.
-------------------------------------------------------------- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {border: 0;font-family: inherit;font-size: 100%;font-style: inherit;font-weight: inherit;margin: 0;outline: 0;padding: 0;vertical-align: middle;}
:focus {outline: 0;}

ol, ul {list-style: none;}
table {border-collapse: separate;border-spacing: 0;}
caption, th, td {font-weight: normal;text-align: left;}
blockquote:before, blockquote:after,q:before, q:after {content: "";}
blockquote, q {quotes: "" "";}
a img{border: 0;}
figure{margin:0}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
/* -------------------------------------------------------------- */


/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
html{
    position: relative;
    min-height: 100%;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
textarea, input[type="text"] {
    -webkit-appearance: none;
}
textarea {
   resize: none;
}
input[type=text]::-ms-clear {
    display: none;
}
a:hover, a:focus, a:hover p, select:hover, select:focus, select:active{
    text-decoration: none;
    outline: none;
}
a, a:link,a:active, span{
    text-decoration: none;
    outline: none;
}

body {    
    // font-family: Interstate_Light,sans-serif;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #eff3f6;
    letter-spacing: 1px;
}
.container-fix{    
    margin: 0 auto;    
}
article{
    min-height: 890px;
}

.form-control {
    background-color: #eee;
    height: 50px;
    border: 1px solid #fff;
    box-shadow: none;
    border-radius: 6px;
    transition: border-color ease-in-out 0ms;
    font-size: 16px;
    display: block;
    width: 100%;
}

textarea.form-control {
    box-shadow: 0 0 0 1px #fff;
    border: 1px solid transparent;
    transition: box-shadow ease-in-out 225ms;
    -webkit-appearance: textarea;
    -webkit-rtl-ordering: logical;
    flex-direction: column;
    white-space: pre-wrap;
    word-wrap: break-word;
}

select.form-control {
    -moz-appearance: none;
    appearance: none;
    box-sizing: border-box;
    background-position: right 10px center;
    background-size: auto 20%;
    padding-right: 42px;
    -webkit-appearance: menulist;
    align-items: center;
    white-space: pre;
    -webkit-rtl-ordering: logical;
    color: black;
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em;
}

/**
css material
**/
.mc-full-width{
    width:100%;
}
.mat-form-field-label{
    top: 2.28125em;
    left:1em !important;
}
.mat-form-field-can-float .mat-input-server:focus+.mat-form-field-label-wrapper .mat-form-field-label, .mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label{
    -webkit-transform: translateY(-2.28125em) scale(.75) perspective(100px) translateZ(.001px) translateX(-1.4em);
    transform: translateY(-2.28125em) scale(.75) perspective(100px) translateZ(.001px) translateX(-1.4em);
    -ms-transform: translateY(-2.28125em) scale(.75) translateX(-1.4em);
}
.mat-form-field-underline{
    height: 0px!important;
    width: 0%!important;
}
.mat-form-field-subscript-wrapper {    
    margin-top: 0em !important;
}
.mat-checkbox{
    float: left;
}
.mat-checkbox-frame {   
    border-width: 0.09em !important;
    border-radius: 5px !important;   
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #286090;
    border-width: 0.09em !important;
    border-radius: 5px !important;
    border-color: #056DAE !important;
}
.mat-form-field-invalid .mat-form-field-label {
    color: #333;
}